.margin{width:1228px;margin:0 auto;}
.clearfix:after {
    display: block;
    content: ".";
    height: 0;
    visibility: hidden;
    clear: both;
    font-size: 0;
    line-height: 0;
}

#top{height:30px;background:#f5f5f5;border-bottom:1px solid #eee;}
#top .top-l{float:left;font:14px/30px "";color:#6c6c6c;margin-left: 46px; }
#top .top-l img{margin-right: 6px;}

#top .top-r ul{float:right;font:14px/30px "";color:#6c6c6c;}
#top .top-r ul li{float: left;position: relative;z-index: 600;height: 30px;}
#top .top-r ul li .dl{float: left;padding: 0 10px;}    
#top .top-r ul li .dl span,.dlu{color: #ff4040;}        
/*#top .top-r ul li .dl .zc{color: #aaa;}*/
#top .top-r ul li .dd{float: left;min-width: 66px; _width: 66px;height: 30px;border-right: 1px solid #f4f4f4;border-left: 1px solid #f4f4f4;padding: 0 10px;}   
#top .top-r ul li .dd a{color: #666;}
#top .top-r ul li .dd a:hover{color: #ff4040;}  
#top .top-r ul li .ddx{position: absolute;top: 29px;left: 0px;background-color: #fff;border-top: 0 none;border: 1px solid #dbdbdb; padding: 5px 0;display: none;width: 86px;}   
#top a:hover{color: #ff4040;}
#top .top-r ul li .ddx a{display: block;padding: 0 0 0 10px;line-height: 26px;}
#top .top-r ul li.aa:hover .ddx{position: absolute;top: 29px;left: 0px;background-color: #fff;border-top: 0 none;border: 1px solid #dbdbdb; padding: 5px 0;display: block;width: 86px;}   

header{margin: 0 auto;width: 1228px;}
header .lgs{float: left;width: 205px;height: 150px;}
header .lgs .logo{position: relative;display: block;width: 205px;height: 150px;}   
header .lgs .logo img{ position: absolute;top: 0;left: -28px;width: 261px;height: 150px;}      

header .lgr{float: right;width: 974px;padding: 32px 14px 0 35px;}
header .lgr-search{position: relative;z-index: 501;padding-top: 40px;float: left;width: 754px;}    
       
header .lgr-search .lgrss{position: absolute;top: 0;left: 0} 
header .lgr-search .lgrss .lgrss-form{position: relative; z-index: 501;border-radius: 2px;-moz-border-radius: 2px;_padding: 2px 2px 0px 2px;background-color: #ff4040;}

header input{float:left;}
header input.txt{width:500px;height:34px;border:3px solid #ff4040;border-right:0;padding:0 14px;color:#9c9c9c;font:12px/34px "";}
header input.btn{border:0;width:122px;heiht:40px;text-align:center;color:#fff;font:18px/40px "";background:#ff4040;}    
          
header .lgr-search .lgrsx{height: 36px;overflow: hidden;}
header .lgr-search .lgrsx a{float: left;margin-right: 15px;line-height: 36px;font-size: 14px;color: #aaa;}
header .lgr-search .lgrsx a:hover{color: #ff4040;}
header .lgr-search .lgrs-nav{height: 50px;line-height: 50px;}
header .lgr-search .lgrs-nav a{font-size: 16px;font-weight: 700;margin-right: 20px;}
header .lgr-search .lgrs-nav a:hover{color: #ff4040;}

header .gw{position: relative;z-index: 501;float: right;}
header .gw a{display: block;width: 130px;height: 20px;color: #666;line-height: 20px;text-align: center;background: #fff;border: 1px solid #d7d7d7;overflow: hidden;padding: 9px 0 9px;font-size: 16px;}       
header .gw .gwn{display: none;overflow: hidden;position: absolute;top: 38px;right: 0;width: 358px; padding-bottom: 50px;border: 1px solid #dedede;background-color: #FFF;box-shadow: 0px 2px 2px #eaeaea;}
header .gw .gwn .gwn1{height: 216px;text-align: center;}
header .gw .gwn .gwn1 span{display: inline-block;width: 117px;height: 77px;margin: 52px 0 10px 0;background:  url(../img/djs.png) no-repeat -260px -30px;}

#ban{width:100%;height:204px;display:inline-block;}

#nr{width: 100%;padding-bottom: 20px;margin-left: 10px;}
#nr .nrz{padding-top: 10px;width:1200px;background: none;margin-left: 10px;}
#nr .nrz .nrz1{position: relative;cursor: pointer;border-top: 2px solid #F03232;z-index: 33;height: 37px;margin-bottom: -1px;border-bottom: 1px solid #fff;background: #fff;font-family: "Microsoft Yahei";zoom: 1;}
#nr .nrz .nrz1 .nrz1sp{float: left;width: 11px;height: 11px;overflow: hidden;margin: 13px 0 0 18px;background: url(../img/lby2.png) no-repeat -40px 0;}
#nr .nrz .nrz1 .nrz1d1{display: inline;position: relative;z-index: 30;float: left;white-space: nowrap;}
#nr .nrz .nrz1 .nrz1d1 .nrz1ds1{display: inline-block;position: relative;z-index: 32;padding: 11px;background: #fff;line-height: 14px;cursor: pointer;}
#nr .nrz .nrz1 .nrz1d1 .nrz1ds1 a{color:#333;}
#nr .nrz .nrz1 .nrz1d2{position:absolute;left:100px;float: left;width: 8px;height: 15px;margin: 11px 10px;background: url(../img/lby2.png) no-repeat -55px 0;}  
#nr .nrz .nrz2{border:1px solid #eaeaea;}    
#nr .nrz .nrz3{position: relative;z-index: 30;background: #fafafa;height: 34px;}    
#nr .nrz .nrz3 .nrz3d1{position: absolute;left: 0;top: 50%;height: 18px;width: 125px;z-index: 30;margin-top: -9px;}    
#nr .nrz .nrz3 .nrz3d1 span{display: block;height: 18px;padding-left: 34px;}
#nr .nrz .nrz3 .nrz3d1 i{display: block;position: absolute;top: 4px;right: -1px;z-index: 31;width: 6px;height: 10px;overflow: hidden;background: url(../img/lby2.png) no-repeat -25px -85px;}
#nr .nrz .nrz3 .nrz3d2{float: left;width: 1065px;display: inline;margin-left: 125px;padding: 5px 0;border-left: 1px solid #eaeaea;}    
#nr .nrz .nrz3 .nrz3d2 ul li{display: inline;float: left;width: 140px;height: 18px;overflow: hidden;margin-left: 12px;padding: 3px 0;line-height: 18px;text-overflow: ellipsis;white-space: nowrap;}    
    
#nr .nrz .nrz4{position: relative;z-index: 30;height: 34px;}    
#nr .nrz .nrz4 .nrz3d1{position: absolute;left: 0;top: 50%;height: 18px;width: 125px;z-index: 30;margin-top: -9px;}    
#nr .nrz .nrz4 .nrz3d1 span{display: block;height: 18px;padding-left: 34px;}
#nr .nrz .nrz4 .nrz3d2{float: left;width: 1065px;display: inline;margin-left: 125px;padding: 5px 0;border-left: 1px solid #eaeaea;}    
#nr .nrz .nrz4 .nrz3d2 ul li{display: inline;float: left;width: 140px;height: 18px;overflow: hidden;margin-left: 12px;padding: 3px 0;line-height: 18px;text-overflow: ellipsis;white-space: nowrap;}     
#nr .nrz .nrz5{}
#nr .nrz .nrz5 .nrz51{height: 40px;margin-top:10px;border: 1px solid #ddd;box-shadow: 0 1px 2px #E0E0E0;background: #fafafa;font-family: "Microsoft Yahei";margin-bottom: 10px;}    
#nr .nrz .nrz5 .nrz51 .a1{display:inline-block;border-right: 1px solid #e1e1e1;position: relative;height: 41px;padding: 0 12px;color: #fff;background-color: #F27E56;margin-top: -1px;line-height: 41px;}    
#nr .nrz .nrz5 .nrz51 .a2{padding: 0 6px 0 7px;}    
#nr .nrz .nrz5 .nrz52{margin: 15px 0 10px 0;padding-top: 10px;background: #fff;}    
#nr .nrz .nrz5 .nrz52 ul li{float:left;width: 239px;height: 380px;margin-bottom: 0;border-right: 1px solid #eaeaea;border-bottom: 1px solid #eaeaea;}
#nr .nrz .nrz5 .nrz52 ul li .nrz52-1{padding-bottom: 30px;width: 170px;padding: 30px 29px 0;border: 1px solid #fff;background-color: #fff;}
#nr .nrz .nrz5 .nrz52 ul li .nrz52-1 .a52-1{display: block;position: relative;z-index: 30;width: 200px;height: 200px;margin-bottom: 10px;}
#nr .nrz .nrz5 .nrz52 ul li .nrz52-1 .a52-1 img{display: block;height:200px;width:200px;}
#nr .nrz .nrz5 .nrz52 ul li .nrz52-1 .nrz52-11{line-height: 16px;}
#nr .nrz .nrz5 .nrz52 ul li .nrz52-1 span{float: left;color: #e60012;padding: 5px 0;font-size: 18px;font-weight: bold;font-family: "Century Gothic";padding-top: 0;line-height: 18px;}
#nr .nrz .nrz5 .nrz52 ul li .nrz52-1 p{display:inline-block;margin-bottom: 8px;word-break: break-all;height: 30px;overflow: hidden;line-height: 16px;color:#333;}
/*#nr .nrz .nrz5 .nrz52 ul li .nrz52-1 p a{margin-bottom: 8px;word-break: break-all;height: 30px;overflow: hidden;line-height: 16px;}*/
#nr .nrz .nrz5 .nrz52 ul li .nrz52-1 .nrz52-12{padding-bottom: 12px;position: relative;z-index: 38}
#nr .nrz .nrz5 .nrz52 ul li .nrz52-1 .nrz52-12 .nrz-zh{height: 28px;float:left;overflow: hidden}
#nr .nrz .nrz5 .nrz52 ul li .nrz52-1 .nrz52-12 .nrz-zh a{float: left;text-align:center;background:#eb6363;width: 90px;height: 28px;color: #fff;line-height: 28px;display: inline;}



#footer{background: #FFF;margin-top: 10px;margin-left: 10px;display: inline-block;}
#footer .sy-ft1{padding: 30px 0;border-bottom: 1px solid #ebebeb;margin: 0 auto;width: 1228px;}
#footer .sy-ft1 a{float: left;display: block;_display: inline;width: 205px;overflow: hidden;margin: 0 51px;}
#footer .sy-ft1 a img{float: left;border: 0 none;vertical-align: topwidth: 66px;height: 66px;display: block;_display: inline;margin-right: 15px;}    
#footer .sy-ft1 a b{display: block;font-size: 16px;margin-top: 10px;font-family: "Microsoft YaHei";color: #333;}   
#footer .sy-ft1 a span{font-size: 12px;font-family: "Microsoft YaHei";color: #999;line-height: 26px;}
            
#footer .sy-ft2{padding: 20px 0 20px;overflow: hidden;margin: 0 auto;width: 1228px;}  
#footer .sy-ft2 .sy-ft2-l{float: left;padding-left: 15px;}   
#footer .sy-ft2 .sy-ft2-l dl{float: left;display: block;_display: inline;width: 195px;} 
#footer .sy-ft2 .sy-ft2-l dl dt{height: 32px;padding: 0 8px;font-size: 14px;color: #666;line-height: 32px;overflow: hidden;font-family: "Microsoft YaHei";color: #666;font-weight: bold;}
#footer .sy-ft2 .sy-ft2-l dl dd{line-height: 24px;padding: 0 8px;overflow: hidden;white-space: normal;height: 24px;font-size: 12px;}
#footer .sy-ft2-r{width: 280px;float: left;overflow: hidden;margin-right: -50px;}     
#footer .sy-ft2-r .sy-ft2-r1{float: left; font-size: 14px;margin-right: 50px;font-weight: bold;line-height: 32px;color: #666;} 
#footer .sy-ft2-r .sy-ft2-r1 img{width: 90px;height: 90px;}       
#footer .sy-ft2-r .sy-ft2-r2{float: left; font-size: 14px;margin-right: 50px;font-weight: bold;line-height: 32px;color: #666;} 
#footer .sy-ft2-r .sy-ft2-r2 img{width: 90px;height: 90px;}
#footer .sy-ft2 .sy-ft2-l dl dd:hover a{color:#C20000;}
  
#footer .sy-ft3{}       
#footer .sy-ft3 p{color: #666;text-align: center;text-indent: 0;line-height: 100%;margin: 15px 0;padding: 0;}
#footer .sy-ft3 p a{color: #666;margin: 0px 10px;}